# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

## Understanding the data

In [ ]:
# Step 0: import pandas library

import pandas as pd

In [ ]:
# Step O_bis: import the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data = pd.read_csv(url)

customer_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
# Step 1: Identify the dimensions of the dataset by determining the number of rows and columns it contains.

print(customer_data.shape)
print(customer_data.shape[0])
print(customer_data.shape[1])

# --> 4008 rows
# --> 11 columns

(4008, 11)
4008
11

In [ ]:
# Step 2: Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
# You should also provide suggestions for fixing any incorrect data types.

print(customer_data.info())

print('\n')

print(customer_data.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None


Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [ ]:
# Observations:
# - CLV is an object and not a float
# - Number of Open Complaints is an object

# Let's try to fix that:

# 1) Transforming CLV to float format
customer_data['Customer Lifetime Value'] = customer_data['Customer Lifetime Value'].str.strip('%').astype('float') / 100.0
print(customer_data['Customer Lifetime Value'])
print('\n')
print(customer_data['Customer Lifetime Value'].dtype)

0              NaN
1        6979.5359
2       12887.4317
3        7645.8618
4        5363.0765
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer Lifetime Value, Length: 4008, dtype: float64


float64

In [ ]:
# 2) Transforming Number of Open Complaints to int format
# values for this column are like this: 1/0/00

# Let's try to see the different kind of values we can have for this column:
print(customer_data['Number of Open Complaints'].unique())
print(customer_data['Number of Open Complaints'].nunique())
print('\n')

# We can see here the the number of complaints is between 0 and 5
# We'll try to focus on these numbers so we'll only keep them and convert them to integers:

# Step 1 --> Keep only the middle digit
customer_data['Number of Open Complaints'] = customer_data['Number of Open Complaints'].str.split('/').str[1]
print(customer_data['Number of Open Complaints'])

# We can see it works:
print('\n')
print(customer_data['Number of Open Complaints'].unique())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
6


0         0
1         0
2         0
3         0
4         0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: Number of Open Complaints, Length: 4008, dtype: object


['0' '2' '1' '3' '5' '4' nan]

In [ ]:
# Step 2: convert to the integer format
customer_data['Number of Open Complaints'] = pd.to_numeric(customer_data['Number of Open Complaints'], errors='coerce').astype('Int64')
print(customer_data['Number of Open Complaints'])

print('\n')

print(customer_data['Number of Open Complaints'].dtype)

0          0
1          0
2          0
3          0
4          0
        ...
4003    <NA>
4004    <NA>
4005    <NA>
4006    <NA>
4007    <NA>
Name: Number of Open Complaints, Length: 4008, dtype: Int64


Int64

In [ ]:
# So now, let's look at our df:
print(customer_data.head())

print('\n', '\n', customer_data.info())

  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                6979.5359
2  AI49188      Nevada      F              Bachelor               12887.4317
3  WW63253  California      M              Bachelor                7645.8618
4  GA49547  Washington      M  High School or Below                5363.0765

    Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   Int64
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: Int64(1), float64(4), object(6)
memory usage: 348.5+ KB


 None

In [ ]:
''' COMPREHENSION PERSONNELLE - NE PAS RUNNER POUR L'EXO '''

# Sample DataFrame with 'complaints_column'
data = {'complaints_column': ['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', None]}
your_dataframe = pd.DataFrame(data)

# Extract the middle number and convert to integer
your_dataframe['complaints_column'] = your_dataframe['complaints_column'].str.extract(r'/(\d+)/').astype('Int64')

# Print the result
print(your_dataframe)

   complaints_column
0                  0
1                  2
2                  1
3                  3
4                  5
5                  4
6               <NA>

In [ ]:
''' COMPREHENSION PERSONNELLE - NE PAS RUNNER POUR L'EXO '''


# Sample data
data = {'complaints_column': ['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', None]}
your_dataframe = pd.DataFrame(data)

# Extract the middle number using str.split
your_dataframe['complaints_column'] = your_dataframe['complaints_column'].str.split('/').str[1]

# Print the result
print(your_dataframe)

  complaints_column
0                 0
1                 2
2                 1
3                 3
4                 5
5                 4
6              None

In [ ]:
# Step 3: Identify the number of unique values for each column and determine which columns appear to be categorical.
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

customer_data.nunique()
#Reminder: customer_data.shape --> (4008, 11)

#categorical: gender, policy type, vehicle class, education

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [5]:
import pandas as pd
customer_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

# Count the frequencies of each customer location
location_freq = customer_data['ST'].value_counts()

# Retrieve the top 5 least common locations in ascending order
top_5_less_common = location_freq.tail(5)

print("Top 5 least common customer locations:")
print(top_5_less_common)

Top 5 least common customer locations:
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [8]:
# Your code here
# Count the number of policies sold for each policy type
policy_counts = customer_data['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
policy_with_highest_sales = policy_counts.idxmax()

print("Policy type with the highest number of policies sold:", policy_with_highest_sales)

Policy type with the highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [11]:
# Your code here

# Create separate DataFrames for Personal Auto and Corporate Auto policies
personal_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Personal Auto']
corporate_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
avg_income_personal_auto = round(personal_auto_df['Income'].mean(), 2)
avg_income_corporate_auto = round(corporate_auto_df['Income'].mean(), 2)

# Print the results
print("Average income for Personal Auto policies: ", avg_income_personal_auto, "$")
print("Average income for Corporate Auto policies: ", avg_income_corporate_auto, "$")

Average income for Personal Auto policies:  38180.7 $
Average income for Corporate Auto policies:  41390.31 $

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here